nwjs/locales/tr.pak
libs/

*.json
*.css
app.html
cdb.less
common.less
Editor.lnk
hide.cmd
hide.js
hide.js.map
icons.css
icons.less
style.css
style.less
node_modules/
*.js
nwjs/
*.dll
*.jpg
res/InterVariable-Italic.woff2
res/Inter-LICENSE.txt
res/icons/addSub.png
res/icons/CapsuleLight.png
res/icons/delete.png
res/icons/DirLight.png
res/icons/fileRef.png
res/icons/icon-trails.png
res/icons/paint.png
res/icons/PointLight.png
res/icons/set.png
res/icons/smooth.png
res/icons/Sound.png
res/icons/SpotLight.png
res/icons/unknown.png
res/cdb.ico
res/cdb.png
res/hide.ico
res/hide.png
res/InterVariable.woff2
res/meshGeneratorArrow.fbx
res/backups/
res/backups/data_v1.0.0_20260312_205014.cdb
res/backups/data_v1.0.0_20260313_190525.cdb
res/backups/data_v1.0.0_20260313_192932.cdb
res/backups/data_v1.0.0_20260313_193337.cdb
res/res/data.cdb
res/res.compressed1.pak
